# Run vitest
name: test

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20, 22]

    steps:
      - uses: actions/checkout@v6
      - name: Installtion of NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        id: node_modules_cache_id
        uses: actions/cache@v5
        with:
          path: node_modules
          key: node-v${{ matrix.node-version }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/package-lock.json')) }}

      - name: Install npm packages
        if: steps.node_modules_cache_id.outputs.cache-hit != 'true'
        run: npm install

      - name: Run tests
        run: npx vitest run

      - name: Generate coverage file
        run: npm run test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/coverage-final.json
